@media (max-width:991px) {

  .sidebar .sidebar-header .toggle {
    display: none;
  }


    #home-mobile {
      left: 0%;
      width: 100vw;
    }


    .sidebar.active ~ .home{
      left: 0px;
      height: 100vh;
      width: 100vw;
      
  }

 



    .sidebar.active {
      width: 248px;
      background-color: white;
      height: 100%;
      border-right: 1px solid #e0e0e0;
      
      
      
      
  }

  .sidebar {
    width: 0px;
    background-color: transparent;
    border:none
  }


    #btn-mobile {
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      
      
      padding: .5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: .5rem;
      border-radius: 37px;
      background-color: white;
      
    margin-top: -2rem;

 }

  #sidebar.active #menu {

    visibility: visible;
    overflow-y: visible;


 }

 .sidebar #menu {

  visibility: hidden;
  overflow-y: hidden;
 }
 


 
  #sidebar.active header {
      background: rgb(44, 43, 43);
 }
  #menu a {
      padding: 1rem;
      margin: 0 0.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, .05);
      color: white;
      border-radius: 0px;


 }

  #hamburger {
      display: block;
      border-top: 2px solid;
      width: 20px;
      color: black;
 }
  #hamburger::after, #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      margin-top: 5px;
      background: currentColor;
      transition: .6s;
      position: relative;
 }

 .toogle {
  display: none;
 }





//header - saudação





   
   
  }


