.story-box {
    height: 5rem;
    padding-left: 7%;
    padding-right: 7%;
    background-color: red;
    width: 100%;
    
}

.explorar {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 8rem;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #e0e0e0;
    color: black;  

    h3 {
        font-size: 15px!important;
        color: black;
        margin-right: 3rem;
    }

    a {
        text-decoration: none;
        color: black;
    }
 
}

@media only screen and (max-width: 767px) {
    /* Estilos para celular aqui */

    main {

        margin-left: 2%;
        margin-right: 2%;

    }
  }

  main {

    /* margin-right: 8%; */
    width: 82%;
    position: relative;
    margin: 0 auto;
}

.layout {
    position:relative;
    padding-bottom: 10rem;
}

