@media only screen and (min-width: 992px) {

  #box-action {
  
    background: linear-gradient(180deg, #3D3DFF 0%, rgba(61, 61, 255, 0) 100%);
    width: 50%;
  } 
      
      
      
}

.cadastro-box {
  p{
    color: black;
  }
}